<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Sobre mí</a></li>
        <li><a href="/studies">Estudios</a></li>
        <li><a href="/techs">Tecnologías</a></li>
        <li><a href="/projects">Mis proyectos</a></li>        
    </ul>
    <ul>
        <li><a href="/admin/projects">Administrar Proyectos</a></li>
    </ul>
</nav>