<tr>
    <td>
        <%= project.name %>
    </td>
    <td>
        <a href="<%= project.link %>" target="_blank"><%= project.name.toLowerCase() %>.com</a>
    </td>
    <td>
        <a href="/projects/<%= project._id %>">Ver más</a>
    </td>
</tr>