<%- include('../common/htmlTop', { title: "proyecto x" }) %>
    <h1><%= project.name %></h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Link</th>
            <th></th>
        </tr>
    </table>
<%- include('../common/htmlBot') %>